*{
font-family: 'Raleway', sans-serif;
}


body {
background-color:rgb(40, 42, 58);
}


.foto {
border-style: double;
border-color: rgb(115, 95, 50);
width:330px;
height:auto;
float:left;
margin: 30px;
margin-top: 40px;
}


.titulo {
color:rgb(198, 151, 73);
font-size: 50px;
text-align: left;
margin-left: 20px;
font-family: 'Raleway', sans-serif;
margin-bottom: 0px;
}


.subtitulo_1 {
text-align: left;
color:rgb(198, 151, 73);
font-size: 30px;
}


.subtitulo_2 {
text-align: left;
color:rgb(198, 151, 73);
}

.parrafo {
text-align: left;
color: aliceblue;
}


.link {
color: aliceblue;
font-weight: bold;
}


#contacto {
color:aliceblue;
text-align: left;
display: none;
margin-left: 15px;
}


#intro {
display: flex;
text-align: center;
}


#pantalla-dividida{
display: flex;
text-align: center;
}


#educacion {
padding-right: 18px; 
border-right: 1px solid whitesmoke;
}


#habilidades {
padding-left: 18px;
padding-right: 18px; 
border-right: 1px solid whitesmoke;
}


#redes {
padding-left: 18px;
padding-right: 18px; 
}


#boton_1 {
color: black;
width: 90px;
height: 60px;
font-size: 20px;
margin-bottom: 20px;
}




